.posts {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.posts h3 {
	font-size: 30px;
	text-transform: uppercase;
}
.posts li {
	padding: 0 40px;
	text-align: left;
	border-bottom: 1px solid #ccc;
}
